# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.xcresult

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Claude Code local settings
.claude/settings.local.json
Misc/NiceDog.png
Misc/RockDog.png
Misc/GuitarTuner.png
MomoGuitar.png
